<div class="w-full h-full flex items-center justify-center">
  <mat-card class="min-w-[500px]">
    <mat-card-header class="mb-3">
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mb-4">
      <authentication-ui-sign-up-form #formRef (bySubmit)="handleSubmit($event)" />
    </mat-card-content>
    <mat-card-content align="end">
      <button mat-flat-button color="primary" (click)="formRef.submit()">Submit</button>
      <button mat-button routerLink="/auth/sing-in">Log in</button>
    </mat-card-content>
  </mat-card>
</div>
